{% extends 'base.html'%} {% block 'content'%}
<!--  -->
<center>
  <br />
  <br />
  <br />
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    {% if user.is_authenticated %}
    <h2 class="welcome-user">Welcome {{user.username}}</h2>
    <button id="show-date" class="btn btn-secondary">Today's Date</button>
    {% else %}
    <h2 class="welcome-user">Welcome Harry Potter</h2>
    {% endif %}
    <p>Here is a random number fact for you</p>
    <div>
      <p class="fact">Loading...</p>
    </div>
  </div>
  <!-- Local API -->
  <h3>Other Online Study Websites</h3>
  <div class="local-api-parent-container">
    <ul class="website-list">
      <p class="temp-message">Make Sure The Node Server Is Running</p>
      <!-- The li tags are added from javascript -->
    </ul>
  </div>
  {% load static %}
  <script src="{% static 'scripts/facts.js'%}"></script>
  <script src="{% static 'scripts/script.js'%}"></script>
  <script src="{% static 'scripts/localapicall.js'%}"></script>
  <link rel="stylesheet" href="{% static 'css/localapi.css'%}" />
</center>
{%endblock%}
